<mat-card class="example-card">
    <!-- <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title style="text-align: center; margin-bottom: 10px;">About Us</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header> -->
    <mat-card-content>
        <img mat-card-image src="assets/img/icons/1.jpg" alt="Photo of a Shiba Inu" style=" opacity: 0.3;">
        <div class="centered">
            <h1 style="font-weight: bold;">ABOUT US</h1>
            <br>
            <p>
                We are the fashion pace-setters driven by zeal to find you a perfect fit. Rising Rhino is much more than
                a style savvy brand, we are always on a goal to make people look and feel fabulous…their feet first!.
                Our wide range of footwear is made to zest up both your special moments and trivial, resulting in
                collectives that are unparallel in their style, comfort and quality. We aim at connecting the fashion
                forwards with the latest footwear trends out there, and make them stay ahead of the fashion game every
                time!
                Always on the lookout for what’s new on trend, we welcome you to our bevy of collection – Opulent formal
                shoes, sporty sneakers, chic sandals, or, relaxed slip-ons. You name it, we have it!
            </p>
            <h3 style="font-weight: bold;"> COMMITMENT</h3>
            <p>
                Rising Rhino has adherence to a top notch quality and discerning eye for detail. With each passing year,
                we thrive to innovate and invent something fresh that nobody has seen before. Steered by a strong desire
                to provide our elite customers utmost style and comfort, we are the first company to engineer walking
                comfort in dress and casual shoes, and have continued to employ athletic technologies in casual shoes to
                achieve lightweight comfort for your quotidian lifestyle.
                Rising rhino thrives to consummate performance in style – something that the new-age clientele quests
                for. We are aware of your sartorial sensibilities and aspire to satiate the same with our footwear,
                culminating the best of both taste and function.
                Being more than just a fashion footwear brand, we endeavor to uphold a brilliant workmanship. Aspiring
                to serve young style drivers, we continue to deliver all mode shoes that keep getting better with
                beatable use. We take pride in the supreme quality of our products, which is why we treat our fashion
                conscious customers with a lifetime guaranty.
            </p>
            <h3 style="font-weight: bold;"> PHILOSOPHY</h3>
            <p>
                We believe in going beyond the ordinary and creating masterpieces amalgamating high-fashion and supreme
                comfort. Every product of Rising Rhino is the project work of an uncompromising attitude towards
                superior quality, with an immovable attention to detail to evoke a sense of savoir faire.
                R.R. OVERSEAS
                R.R.Overseas has earned the reputation of being the leading export company manufacturing footwear for
                men and women to provide the utmost luxury they deserve.
                At present, R.R. Overseas has amassed two merchandise factories under its name and has achieved the
                widest reach with a global presence in more than 5 countries across the world.
                RISING RHINO - THE BRAND
            </p>
        </div>
    </mat-card-content>
    <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions> -->
</mat-card>